body, html {
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

 .introText {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 35%;
}

.introText span {
    font-weight: lighter;
    font-size: 50px;
}

.introText h1 {
    display: inline;
    font-weight: bold;
    font-size: 52px;
    font-family: 'Arvo', serif;
}

.introText h3 {
    font-weight: lighter;
    font-size: 46px;
}

.introText h4 {
    font-family: 'Parisienne', cursive;
    font-size: 32px;

}

.navbar-brand {
    font-family: helvetica ,Helvetica,Arial,sans-serif
}